* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}


.navbar{
    height: 70px;
    background-color: var(--bg-primary);
}
nav{
    height: inherit;
    color: white;
    
}
li{
    list-style-type:none;
}
li:hover{
    text-decoration: underline solid #fff;
    cursor: pointer;
}

//utilities
.container{
    height: inherit;
    width: calc(100vw - 140px);
    margin: 0 auto;
}
.grid{
    align-items: center;  
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.grid-3{
    @extend .grid;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    padding: 25px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    color: #333;
}
.btn{
    display: inline-block;
    padding: 10px 15px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    background-color: var(--bg-primary);
    cursor: pointer;
   
}
.btn:hover{
    transform: scale(0.9);
}
.btn-outline{
    border: 1px solid #fff;
    color: white;
}
//showcase
.showcase{
  position: relative;
  height: 320px;  
  background-color: var(--bg-primary);
  color: white;
}
.showcase::after{
    content: '';
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: -70px;
    transform: skewY(-3deg);
    background-color: #fff;
}
.showcase-text > p{
   margin: 20px 0;
}
.showcase-form {
    justify-self: end;
    width: 400px;
    z-index: 100;
.form-control{
    margin: 14px 0;
}
}  
.showcase-form input:not([type = "submit"]){
    width: 100%;
    font-size: 16px;
    border: 0;
    border-bottom: 2px solid #b4becd;
    
}
.showcase-form input:focus{
    outline: none;
}

// stats

.stats{
    padding-top: 100px;
    .fa{
        font-family: FontAwesome !important;
    }
    h3:first-of-type,.grid-3 > div{
        text-align: center;
    }
    p{
        margin-top: 10px;
    }
}

//cli

.cli .grid{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.cli .grid > img{
    width: 100%;
}
.cli .grid > *:first-child{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

// cloud

.cloud{
    text-align: center;
    color: white;
    background-color: var(--bg-primary);
    img{
        width: 100%;
    }
    article > p {

        margin: 16px 0;
    }

}
//lang
.lang{
    padding: 20px 0;
    > div div{
        text-align: center;
        transition: transform 0.2s ease-in;
    }
    > div div:hover{
        cursor: pointer;
        transform: translateY(-5px);
    }
    > div div > h3{
        margin-bottom: 10px;
    }
}

//footer
footer{
    height: 100px;
    color: #fff;
    background-color: #010148;
    
    div.container > div.social > i{
        font-family: FontAwesome !important;
    }
    a {
        font-size: 14px;
        text-decoration: none;
        color: #fff !important;
    }
    i{
        transition: transform 0.2s ease-in;
    }
    i:hover{
        cursor: pointer;
        transform: translateY(-2px);
    }
}

// media queries
@media  screen and (max-width:768px){
    .grid,
    .grid-3,
    .cli .grid{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        gap: 30px;
        //text-align: center;
    }
    .showcase{
        height: auto;
    }
    .showcase-text{
        text-align: center;
    }
    .showcase-form{
        justify-self: center;
    }
    .cloud{
        padding: 45px 0;
    }
    footer{
        padding: 15px 0;
        height: auto;
       
    }
}






